.feedback-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 100px;
    padding-bottom: 200px;
    .quote-img {
        display: flex;
        align-self: flex-start;
        margin-bottom: 0.5em;
        width: 35px;
    }
    .inner-feedback {
        max-width: 1170px;
        display: flex;
        align-items: center;
        .feedback {
            flex: 1;
            background-color: $dark-blue-testimonials;
            color: $white;
            padding: 2em;
            font-size: 0.9em;
            border-radius: 5px;
            transition: 0.3s;
            &:hover {
                transform: translateY(-3px);
            }
            .person {
                display: flex;
                align-items: center;
                img {
                    width: 40px;
                    border-radius: 50%;
                    margin-right: 15px;
                }
            }
            .feedback-text {
                margin-bottom: 1.2em;
            }
        }
        .feedback2 {
            margin: 0 30px;
        }
    }
}
