header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 100px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    // background-color: $dark-blue-main;
    left: 0;
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100px;
        }
    }
    .menu-container ul {
        display: flex;
        align-items: center;
        li {
            list-style: none;
            margin-left: 5em;
            a {
                color: $white;
                text-decoration: none;
                font-family: 'Raleway', sans-serif;
                cursor: pointer;
                &:hover {
                    font-weight: 700;
                }
            }
        }
    }
}
