@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #181f2a;
}

header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 100px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  left: 0;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo img {
  width: 100px;
}

header .menu-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu-container ul li {
  list-style: none;
  margin-left: 5em;
}

header .menu-container ul li a {
  color: white;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}

header .menu-container ul li a:hover {
  font-weight: 700;
}

.home {
  min-height: 100vh;
  background-color: #1c2431;
  background-image: url("../images/bg-curvy-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  padding: 0 20px;
}

.home .inner-home {
  margin-top: 40px;
}

.home .intro {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .intro img {
  width: 65%;
}

.home h3 {
  font-size: 1.6em;
  line-height: 1.5em;
}

.home .paragraph {
  max-width: 500px;
  text-align: center;
}

.home p {
  font-size: 1em;
  margin: 20px auto;
  max-width: 500px;
}

.home button {
  padding: 10px 50px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #65e2d9;
  cursor: pointer;
}

.home button:hover {
  opacity: 0.8;
}

.content-one {
  padding: 100px 0;
  background-color: #181f2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-one .inner-content-one {
  color: white;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-one .inner-content-one .item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.content-one .inner-content-one .item:hover {
  outline: 2px solid #65e2d9;
  outline-offset: 20px;
}

.content-one .inner-content-one .item-3,
.content-one .inner-content-one .item-4 {
  margin-top: 4em;
}

.content-one .inner-content-one .inner-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 80%;
}

.content-one .inner-content-one .inner-item img {
  margin-bottom: 1em;
}

.content-one .inner-content-one .inner-item h4 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.content-one .inner-content-one .inner-item p {
  font-size: 0.9em;
}

.content-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 100px;
}

.content-two .inner-content-two {
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-two .left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-two .left img {
  width: 80%;
}

.content-two .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  color: white;
}

.content-two .right h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
}

.content-two .right p {
  margin-bottom: 15px;
  font-size: 0.9em;
}

.content-two .right a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #65e2d9;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 1px solid #65e2d9;
}

.content-two .right a:hover {
  font-weight: 700;
}

.content-two .right a img {
  margin-left: 5px;
  width: 17px;
}

.feedback-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 100px;
  padding-bottom: 200px;
}

.feedback-container .quote-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 0.5em;
  width: 35px;
}

.feedback-container .inner-feedback {
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-container .inner-feedback .feedback {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #202a3c;
  color: white;
  padding: 2em;
  font-size: 0.9em;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.feedback-container .inner-feedback .feedback:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.feedback-container .inner-feedback .feedback .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-container .inner-feedback .feedback .person img {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.feedback-container .inner-feedback .feedback .feedback-text {
  margin-bottom: 1.2em;
}

.feedback-container .inner-feedback .feedback2 {
  margin: 0 30px;
}

.email-access-container {
  height: 100px;
  background-color: #0b1523;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 50px;
}

.email-access-container .email-access {
  max-width: 900px;
  background-color: #1c2431;
  padding: 1.5em 4em;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  margin-top: -120px;
}

.email-access-container .email-access p {
  text-align: center;
  font-size: 0.9em;
  margin: 1.5em 0;
}

.email-access-container .email-access .email {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.email-access-container .email-access .email input {
  width: 70%;
  padding: 10px 30px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: white;
  margin-right: 20px;
}

.email-access-container .email-access .email button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #339ecc;
  font-weight: 700;
  color: white;
}

.email-access-container .email-access .email button:hover {
  opacity: 0.8;
}

.footer {
  padding: 100px 70px;
  padding-bottom: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  color: white;
  background-color: #0b1523;
}

.footer img {
  width: 125px !important;
  margin-bottom: 0.5em;
}

.footer .footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
}

.footer .footer-text .brand-and-location {
  width: 35%;
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-text .brand-and-location i {
  margin-right: 15px;
  margin-top: 3px;
}

.footer .footer-text .email-and-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.footer .footer-text .email-and-phone .phone,
.footer .footer-text .email-and-phone .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-text .email-and-phone .phone i,
.footer .footer-text .email-and-phone .mail i {
  margin-right: 15px;
}

.footer .footer-text .email-and-phone .phone {
  margin-bottom: 0.5em;
}

.footer .footer-text .about-us {
  width: 10%;
  text-align: start;
}

.footer .footer-text .about-us p {
  margin-bottom: 0.5em;
}

.footer .footer-text .contact-us {
  width: 10%;
  text-align: start;
}

.footer .footer-text .contact-us p {
  margin-bottom: 0.5em;
}

.footer .footer-text .social-icon {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-text .social-icon .icon {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 5px;
}

.footer .footer-text .social-icon .icon:hover {
  background-color: #339ecc;
}

.footer .zwel {
  text-align: center;
  font-size: 0.9em;
  margin-top: 30px;
}

.scroll-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #65e2d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  -webkit-animation: animate infinite 1s linear;
          animation: animate infinite 1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.scroll-up {
  display: none;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (max-width: 992px) {
  .inner-feedback {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .inner-feedback .feedback2 {
    margin: 0 !important;
  }
  .inner-feedback .feedback {
    margin-bottom: 4em !important;
  }
  .footer .logo {
    margin-bottom: 2em;
  }
  .footer-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-text .brand-and-location,
  .footer-text .email-and-phone,
  .footer-text .about-us,
  .footer-text .contact-us,
  .footer-text .social-icon {
    margin-bottom: 2em;
    width: 100% !important;
  }
  .footer-text .email-and-phone {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .footer-text .brand-and-location p {
    max-width: 500px;
  }
}

@media screen and (max-width: 767px) {
  .menu-container ul li {
    margin-left: 1.5em !important;
  }
  header {
    padding: 5px 20px !important;
    padding-top: 30px !important;
    padding-bottom: 20px !important;
  }
  .inner-content-one {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .inner-content-one .item {
    width: 100% !important;
  }
  .inner-content-one .item .inner-item {
    width: 80% !important;
  }
  .inner-content-one .item-2 {
    margin-top: 4em !important;
  }
  .content-two {
    padding: 50px 30px !important;
  }
  .inner-content-two {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .inner-content-two .left {
    width: 100% !important;
  }
  .inner-content-two .left img {
    margin-bottom: 4em !important;
  }
  .inner-content-two .right {
    width: 100% !important;
  }
  .feedback-container {
    padding: 50px !important;
    padding-bottom: 200px !important;
  }
  .footer {
    padding: 100px 50px !important;
    padding-bottom: 20px !important;
  }
  .email-access {
    padding: 1.5em 2em !important;
  }
  .email {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .email input {
    margin: 0 !important;
    margin-bottom: 1em !important;
    width: 100% !important;
  }
}

@media screen and (max-width: 480px) {
  header .logo img {
    width: 70px !important;
  }
  .intro img {
    width: 80% !important;
  }
  .inner-home h3 {
    margin-top: 1.5em !important;
  }
  .left img {
    width: 100% !important;
  }
  .feedback-container {
    padding: 50px 30px !important;
    padding-bottom: 200px !important;
  }
  .feedback-container .feedback {
    margin-bottom: 2em !important;
  }
  .email-access-container {
    padding: 0 15px !important;
  }
  .email-access-container .email-access h2 {
    font-size: 1em !important;
  }
  .scroll-icon {
    font-size: 25px;
    height: 40px;
    width: 40px;
    right: 20px;
  }
}

@media screen and (max-width: 350px) {
  .menu-container ul li {
    margin-left: 1em !important;
    font-size: 13px !important;
  }
  header .logo img {
    width: 60px !important;
  }
  header {
    padding: 5px 10px !important;
    padding-top: 30px !important;
    padding-bottom: 20px !important;
  }
}
/*# sourceMappingURL=main.css.map */